extends layout

block content
  .row
    .col
      form#resetForm(method="POST" name="resetForm")
        .container.mt-5
          h2 Reset Your Password
          .form-group
            label(for="password") New Password
            input.form-control#password(type="password" name="password" required)
          .form-group
            label(for="passwordConfirm") Confirm New Password
            input.form-control#passwordConfirm(type="password" name="passwordConfirm" required)
          input.btn.btn-primary.btn-block(type="submit" value="Reset Password ➡")
